{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <ul>
        {% for tag in tags %}
            <li>Tag: {{ tag.name }}</li>
            <ul>
                {% for article in tag.articles %}
                    <li><a href="{{ url('article_show', {'id': article.id}) }}">{{ article.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <span>Tags Not Found</span>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('tag_new') }}">Create new</a>
    {% endif %}
{% endblock %}
